.accordion button {
  font-size: 24px;
}

.lenny-bg-blue {
  background-color: var(--bs-info) !important;
}

.lenny-bg-blue:hover {
  color: white;
}
.lenny-bg-green {
  background-color: springgreen !important;
}

.lenny-bg-green:hover {
  color: white;
}

.lenny-bg-blue:hover {
  color: white;
}
.lenny-bg-orange {
  background-color: rgb(191, 234, 51) !important;
}

.lenny-bg-orange:hover {
  color: white;
}
