body {
  background-color: lightblue;
}

h1 {
  color: red;
  background-color: lightgreen;
  text-align: center;
}

#details-wrap {
  display: center;
}

h2 {
  background-color: lightblue;
  text-align: left;
}

h3 {
  background-color: lightblue;
  text-align: center;
  color: green;
}

img {
  width: 100%;
  height: auto;
}

.under {
  text-decoration: underline;
  text-decoration-color: rgb(168, 173, 14);
  color: rgb(168, 173, 14);
  cursor: pointer;
}

.accordion-button {
  font-size: 18px;
}

.lenny-carosel-buttons {
  background-color: var(--bs-danger) !important;
  position: absolute;
  top: -36px;
}

.lenny-bg-blue {
  background-color: var(--bs-info) !important;
}

.lenny-bg-blue:hover {
  color: white;
}

.lenny-bg-green {
  background-color: springgreen !important;
}

.lenny-bg-green:hover {
  color: white;
}

.lenny-bg-blue:hover {
  color: white;
}
.lenny-bg-orange {
  background-color: rgb(191, 234, 51) !important;
}

.lenny-bg-orange:hover {
  color: white;
}
