body {
  background-color: lightblue;
}

#lsd-div {
  display: none;
  border: 2px solid black;
}

#lsd-container:hover #lsd-div {
  display: block;
}

#six-div {
  display: none;
  border: 2px solid black;
  width: 30%;
}

#six-container:hover #six-div {
  display: block;
}

#now-div {
  display: none;
  border: 2px solid black;
}

#now-container:hover #now-div {
  display: block;
}

#clips-div {
  display: none;
  border: 2px solid black;
}

#clips-container:hover #clips-div {
  display: block;
}
#doing-div {
  display: none;
  border: 2px solid black;
}

#doing-container:hover #doing-div {
  display: block;
}

#start-div {
  display: none;
  border: 2px solid black;
}

#start-container:hover #start-div {
  display: block;
}

.next {
  position: fixed;
  top: 10;
  right: 10px;
  width: 30px;
  color: black;
  background-color: white;
}
.back {
  position: fixed;
  top: 10;
  left: 10px;
  width: 60px;
  color: black;
  background-color: white;
}

h1 {
  color: red;
  background-color: lightgreen;
  text-align: center;
}

h2 {
  color: green;
  text-align: left;
}

li {
  text-align: left;
}
img {
  width: 100%;
  height: auto;
}
.tile {
  width: 30%;
  height: auto;
  margin: 3px;
}

.under {
  text-decoration: underline;
  text-decoration-color: rgb(168, 173, 14);
  color: rgb(168, 173, 14);
}
